DEBUG=False
SECRET_KEY=%g@ya8gs7)djsdd^-jk_anam@4ilu=(ys*_v2lbro41kbdb2xg
ALLOWED_HOSTS=.up.railway.app,uzindustry.uz,www.uzindustry.uz
CSRF_TRUSTED_ORIGINS=https://*.up.railway.app,https://uzindustry.uz,https://www.uzindustry.uz
SECURE_SSL_REDIRECT=True
SECURE_HSTS_SECONDS=31536000
SECURE_HSTS_PRELOAD=False

# Railway PostgreSQL service variables can be referenced from the app service:
# PGDATABASE=${{Postgres.PGDATABASE}}
# PGUSER=${{Postgres.PGUSER}}
# PGPASSWORD=${{Postgres.PGPASSWORD}}
# PGHOST=${{Postgres.PGHOST}}
# PGPORT=${{Postgres.PGPORT}}
